.gradle/
deps/
src/main/java/jdr299zdh5cew256ans96/etaLexer.java
src/main/java/jdr299zdh5cew256ans96/etaLexer.java~
src/main/java/jdr299zdh5cew256ans96/etaLexer.class
src/main/java/jdr299zdh5cew256ans96/cli.class
src/main/java/jdr299zdh5cew256ans96/cup/parser.java
src/main/java/jdr299zdh5cew256ans96/cup/sym.java
src/main/java/jdr299zdh5cew256ans96/pa2_release/pa2.pdf
src/main/java/jdr299zdh5cew256ans96/ir/interpret/IRSimulator.java
src/main/java/jdr299zdh5cew256ans96/ir/interpret/*
.idea/
build/
gradle/
gradlew
gradlew.bat
src/main/java/jdr299zdh5cew256ans96/cup/sumTest.eta
src/main/java/jdr299zdh5cew256ans96/cup/sumTest.eti
src/main/java/jdr299zdh5cew256ans96/cup/sumTest.parsed
src/main/java/jdr299zdh5cew256ans96/test.class
src/delete/test.eti
src/main/java/jdr299zdh5cew256ans96/test.flex
src/main/java/jdr299zdh5cew256ans96/test.java
src/main/java/jdr299zdh5cew256ans96/test.java~
src/main/java/jdr299zdh5cew256ans96/test.parsed
test.lexed
test.parsed
*.txt
*.lexed
*.parsed
*.log
*.ir
*.s